.calculator_header {
  align-items: center;
  background-color: #222;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 40vh;
  width: 100%;
}

.calculator_header--output {
  background-color: #222;
  border: none;
  caret-color: #222;
  color: #F80;
  font-size: 4em;
  min-height: 10vh;
  outline: none;
  padding: 1em .5em;
  text-align: right;
  width: 100%;
}

.calculator_header--toolbar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-height: 5vh;
  width: 100%;
}

.calculator_header--toolbar_left,
.calculator_header--toolbar_right {
  align-items: center;
  color: #5F8;
  display: flex;
  justify-content: center;
  padding: 1em 1em;
  width: 100%;
}

.calculator_header--toolbar_right {
  color: #F80;
  grid-column: 4/5;
  justify-content: space-around;
}

.calculator_header .material-symbols-outlined {
  cursor: pointer;
  font-size: 2.5em;
}

.calculator_header .material-symbols-outlined:hover {
  color: #FFF;
  transition: all 100ms;
}